/**
 *****************************************
 * Created by lifx
 * Created on 2018-08-06 12:03:44
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 加载内容
 *****************************************
 */
@import "./style.scss";
@import "~style";
@import "./default.js?default";


/**
 *****************************************
 * 定义样式
 *****************************************
 */
body {
    color: $color;
    border-color: $borderColor;
    background-color: $backgroundColor;
    font-size: $fontSize;
}
